.hero {
    font-family: 'Poppins', sans-serif;
    padding-top: 100px;

    .hero_title {
        font-size: clamp(3rem, 2.5vh, 1.5rem);
        text-wrap: balance;
        font-weight: 600;
        margin: 0;
    }
}